.productField{
	width:100%;
}

.ui.page.modals.transition.visible {
    display: flex !important;
}

.paginationRight{
	float:right;
}

.brandField{
	display: block;
    margin: 10px 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.adjustModal{
	margin-left: 0px !important;
}